body{
    margin: 0;
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
}


.hero {
    display: flex;
    padding-bottom: 76px;
    padding-top: 76px;
    
}

.content {
    margin: 0;
    padding-right: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h2 {
    font-size: 16px;
}

.header, .hero, .footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding-left: 120px;
    padding-right: 120px;
}

button, .action {
    background-color: #3882f6;
}

button {
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 12px;
    padding: 4px 20px 4px 20px;
}

.quote {
    background-color: #e5e7eb;
}

.hero p {
    font-size: 12px;
    color: #e5e7eb;
    margin: 0;
}

.hero .main {
    color: #e5e7eb;
    font-size: 36px;
    font-weight: 600;
}

.placeholder {
    display: flex;
    align-items: center;    
    justify-content: center;
}

.placeholder div {
    height: 150px;
    width: 300px;
    background-color: red;
    max-width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px 120px 40px 120px;
}

.cards {
    display: flex;
}

.card .box{
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.text {
    font-size: 12px;
}