body{
    margin: 0;
}

.header {

}

.header, .hero, .footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

button, .callToAction {
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

.hero h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    height: 100px;
    width: 200px;
    background-color: grey;
}
